<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Fencegate</title>
    <link rel="icon" href="/static/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/scss/custom.css"/>
</head>
<body>
<nav class="sidebar text-white justify-content-center">
    <ul class="navbar navbar-light flex-column">
        <a href="#" class="nav-item active nav-link">Item1</a>
        <a href="#" class="nav-item nav-link">Item2</a>
    </ul>
</nav>
<div class="wrapper container">
    <div class="row">
        <div class="col">
            <section>
                <header>
                    {% block header %}{% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>
</div>
</body>
</html>